.faq {
  @include displayFlex(center, null, column);
  text-align: center;
  background-image: $color--black;
  padding: 7rem 4.5rem;
  border-bottom: $border--bottom;

  @media only screen and (max-width: $bp--small) {
    padding: 7rem 0rem;
  }

  &__title {
    @include title;
    margin-bottom: 3rem;
  }

  &__list {
    text-transform: capitalize;
    list-style: none;
    background: $color--grey--dark;
    font-size: 2.625rem;
    font-weight: 400;
    margin: 0 0 8px;
    border: 0;
    font-weight: 400;
    margin-bottom: 0.5rem;
    padding: 0.8em 2.2em 0.8em 1.2em;
    position: relative;
    width: 100%;
  }
}
.list--text {
  text-align: left;
  width: 100%;
  margin-right: 40rem;

  @media only screen and (max-width: $bp--smallest) {
    margin-right: 30rem;
  }
}
.plus--svg {
  fill: #fff;
  height: 1em;
  position: absolute;
  right: 1em;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
  width: 1em;
}
