*,
*::after,
*::before {
  content: '';
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;

  @media only screen and (max-width: $bp--medium) {
    font-size: 9px;
  }

  @media only screen and (max-width: $bp--small) {
    font-size: 7px;
  }
}

body {
  color: $color--light;
  background-color: $color--black;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
