.footer {
  padding: 70px 45px;
  &__head {
    text-align: left;
  }
  &__list {
    @include displayFlex(center, space-between, row);
    list-style: none;
    text-transform: capitalize;
    color: $color--grey--light;
    font-size: 1.3rem;
    line-height: 4rem;
    margin-top: 80px;
    min-width: 190px;
    padding-bottom: 20px;
    position: relative;
    width: 100%;

    @media only screen and (max-width: $bp--smallest) {
      @include displayFlex(center, space-between, column);
    }
  }
  &__buttom {
    text-align: left;
  }
}
.designer {
  font-size: large;
  font-style: italic;
  color: $color--yellow;
  animation: Colorchanger 10s ease;
}
@keyframes Colorchanger {
  0% {
    color: $color--yellow;
  }
  30% {
    color: $color--primary;
  }
  50% {
    color: $color--blue;
  }
  70% {
    color: $color--grey;
  }
  100% {
    color: $color--primary--dark;
  }
}
