$color--primary: #e50914;
$color--primary--dark: #b91921;
$color--dark: #222;
$color--black: #000;
$color--grey: hsla(0, 0%, 100%, 0.25);
$color--grey--dark: #303030;
$color--grey--light: #737373;
$color--blue: #0071eb;
$color--light: #fff;
$color--yellow: #ffa00a;
$color--green: #0aff0e;
$border--bottom: 8px solid $color--dark;

// SCREEN
$bp--large: 73.56em; //1177px
$bp--medium: 45.7em; //729px
$bp--small: 37.75em; //604px
$bp--smallest: 28.07em; //475px
$bp--vsmall: 18.93em; //345px

//  @media only screen and (max-width: $bp--vsmallest) {
//     padding: 7rem 0rem;
//   }
